{
    "project_id": "<GITLAB_PROJECT_ID>",
    "telegram_username_members": [
        "<TELEGRAMUSERNAME>"
    ],
    "gitlab_role_username_members": {
        "dev_lead": [<GITLAB_USENAME>, <GITLAB_USENAME>],
        "dev_team": [<GITLAB_USENAME>, <GITLAB_USENAME>],
        "tester_lead": [<GITLAB_USENAME>, <GITLAB_USENAME>],
        "tester_team": [<GITLAB_USENAME>, <GITLAB_USENAME>],
        "pm_lead": [<GITLAB_USENAME>, <GITLAB_USENAME>],
        "pm_team": [<GITLAB_USENAME>, <GITLAB_USENAME>]
    },
    "notify_to": {
        "opened": "<GITLAB_ROLE_USERNAME_MEMBER_KEY>",
        "In Progress": "<GITLAB_ROLE_USERNAME_MEMBER_KEY>",
        "Dev Done": "<GITLAB_ROLE_USERNAME_MEMBER_KEY>",
        "Internal Testing": "<GITLAB_ROLE_USERNAME_MEMBER_KEY>",
        "Reopen": "<GITLAB_ROLE_USERNAME_MEMBER_KEY>",
        "closed": "<GITLAB_ROLE_USERNAME_MEMBER_KEY>"
    }
}